body {background-image: url("Images/card.jpg");background-repeat: no-repeat;background-size: cover;}

form {
	border: 3px solid #f1f1f1;
	margin-top: 100px;
	margin-left:250px;
	margin-right: 300px;
}

li {
	font-family: "Serif";
	margin-top : 100px;
}

p{
	font-size : 30px;
	margin-left: 200px;
}


